.content {
  padding: 50px 0 70px ;

  & h3 {
    padding: 0;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.banner-row {
  margin-bottom: 30px;

  & img {
    margin-bottom: 10px;
  }

  text-align: center;
}
.product {
  position: relative;

  height: 452px;
  padding: 25px 15px;

  background: #fff;
  border: 1px solid #c0c0c0;

  text-align: center;
  overflow: hidden;

  transition: all .3s;

  &:hover {
    box-shadow:  0 0 16px rgba(0, 0, 0, .5);
  }
}

.product-favorites {
  position: absolute;
  top: 10px;
  right: 20px;

  & span {
    color: #909090;

    font-size: 20px;
  }
}

.product-sale {
  position: absolute;
  left: 15px;
  top: 15px;

  width: 50px;
  height: 50px;

  border: 1px solid #d1d1d1;

  line-height: 50px;
  text-transform: uppercase;
}

.product-img {
  width: 100%;
  height: 200px;
}

.product-title a{
  min-height: 40px;

  color: #000;

  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}

.product-desc {
  max-height: 60px;
  overflow: hidden;
}

.product-price {
  margin-bottom: 15px;
  color: #d51e08;

  font-size: 18px;
  font-weight: 700;
}

.product-buy {
  position: absolute;
  bottom: 28px;
  left: 0;

  width: 100%;

  text-align: center;
}
.product-buy .btn {
  padding-bottom: 10px 25px;

  border-radius: 2px;
  text-transform: uppercase;

  &:hover {
    background: #ececec;
  }
}

.products-row {
  margin-bottom: 40px;
}


@include lg {

}

@include lg-only{

}


@include md {

}
@include sd {
  .product {
    margin-bottom: 10px;
  }

  .content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .products-row {
    margin: 20px 0;
  }
}

@include mobile-only {

}

@include xs {

}
