body {
  background-color: #ececec;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto; }

h3 {
  font-size: 24px;
  font-weight: 700; }

/*=====Media mixins=====*/
/*=====containers=====*/
.btn-red {
  background-color: #d51e08;
  color: #fff; }

.btn-red:hover {
  background-color: #ec4835; }

.menu-top .navbar {
  margin-bottom: 0;
  padding: 20px 0;
  background-color: #fff;
  color: #000;
  text-transform: uppercase; }

.menu-top .container,
.menu-top .navbar-collapse {
  padding-left: 0; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-transition: background .3s;
  transition: background .3s; }

.navbar-default .navbar-nav > li > a > .glyphicon {
  margin-right: 10px;
  font-size: 17px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #000;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
  text-decoration: underline; }

.flag {
  margin-right: 5px;
  position: relative;
  top: -1px; }

.navbar-default .navbar-nav > li > a.btn-red {
  padding: 5px 20px;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.navbar-default .navbar-nav > li > a.btn-red:hover {
  color: #fff;
  background: #ec4835;
  text-decoration: none; }

@media only screen and (max-width: 1200px) {
  .menu-top .navbar-nav {
    float: none !important; } }

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #eee; }
  .menu-top .container,
  .menu-top .navbar-collapse {
    padding-left: 15px; } }

.menu-carousel .item {
  min-height: 600px; }

.menu-carousel .bgslide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; }

.menu-carousel .carousel-control {
  z-index: 10; }

.carousel-indicators-wrap {
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center; }

.carousel-indicators-wrap .carousel-indicators {
  position: relative;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  margin-left: 0;
  background: #fff;
  border: 1px solid #cfcfcf;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.carousel-indicators-wrap .carousel-indicators li {
  margin: 0 7px;
  width: 10px;
  height: 10px;
  background: #d2d2d2; }

.carousel-indicators-wrap .carousel-indicators li.active {
  background: #a3a3a3; }

.carousel-indicators-wrap .carousel-indicators li:first-child {
  margin-left: 0; }

.carousel-indicators-wrap .carousel-indicators li:last-child {
  margin-right: 0; }

.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 1; }

.carousel.fade .item.active {
  position: relative;
  opacity: 1;
  z-index: 2; }

.menu-carousel .container {
  position: relative; }

.menu-carousel .carousel-caption {
  position: absolute;
  left: 0;
  top: 170px; }
  .menu-carousel .carousel-caption h1 {
    font-weight: 700;
    font-size: 48px; }
  .menu-carousel .carousel-caption h3 {
    font-size: 30px;
    margin-bottom: 40px; }
  .menu-carousel .carousel-caption .btn-red {
    padding: 20px 30px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    font-size: 24px;
    text-decoration: none; }
  .menu-carousel .carousel-caption .btn-red:hover {
    background: #ec4835; }

@media only screen and (max-width: 1200px) {
  .menu-carousel .carousel-caption {
    left: 20%; } }

@media only screen and (max-width: 992px) {
  .menu-carousel .carousel-caption h1 {
    font-weight: 700;
    font-size: 40px; }
  .menu-carousel .carousel-caption h3 {
    font-size: 22px;
    margin-bottom: 40px; } }

@media only screen and (max-width: 767px) {
  .menu-carousel .carousel-caption h1 {
    font-size: 38px; }
  .menu-carousel .carousel-caption h3 {
    font-size: 20px; }
  .menu-carousel .carousel-caption .btn-red {
    padding: 15px 20px;
    font-size: 16px; } }

@media only screen and (max-width: 480px) {
  .menu-carousel .carousel-caption .btn-red {
    font-size: 14px; } }

.menu-carousel .main-menu .navbar-brand {
  padding: 0;
  margin-left: 30px; }

.main-menu {
  position: absolute;
  top: 30px;
  z-index: 21;
  width: 100%; }
  .main-menu .navbar-inverse {
    background: transparent;
    border: none; }
  .main-menu .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    -webkit-transition: background .3s;
    transition: background .3s; }
    .main-menu .navbar-inverse .navbar-nav > li > a:hover {
      text-decoration: underline; }
  .main-menu .navbar-brand img {
    float: left; }
  .main-menu .navbar-brand span {
    display: inline-block;
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff; }

.main-menu-bg {
  background: #000;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.search {
  position: absolute;
  right: 25px;
  z-index: 30;
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  line-height: 50px; }

@media only screen and (max-width: 1200px) {
  .main-menu .navbar-nav {
    float: none !important; }
  .main-menu .navbar-form {
    position: absolute;
    right: 15px;
    display: none;
    padding: 15px;
    margin: 0;
    background: rgba(0, 0, 0, 0.5); }
  .main-menu .search {
    display: block; } }

@media only screen and (max-width: 992px) {
  .menu-carousel .main-menu .navbar-inverse .navbar-nav > li > a {
    font-size: 14px; } }

@media only screen and (max-width: 767px) {
  .main-menu .search {
    display: none; }
  .main-menu .container {
    padding-left: 0;
    padding-right: 0; }
  .main-menu .navbar-form {
    position: relative;
    right: 0;
    display: block !important;
    background: transparent; }
  .main-menu .navbar-brand img {
    max-height: 50px; }
  .main-menu .navbar-toggle.collapsed + .navbar-brand img {
    max-height: none;
    position: relative;
    z-index: 20; }
  .menu-carousel .main-menu .navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    font-size: 14px; }
    .menu-carousel .main-menu .navbar-inverse .navbar-nav > li > a:hover {
      background-color: #222222; } }

@media only screen and (max-width: 480px) {
  .main-menu .navbar-toggle.collapsed + .navbar-brand img {
    max-height: 80px; } }

@media only screen and (min-width: 1200px) {
  .main-menu .navbar-form {
    display: block !important; } }

.main-slogan {
  background: #fff;
  text-align: center;
  padding: 50px 0;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada; }
  .main-slogan h2 {
    font-size: 30px;
    margin: 0; }

.sidebar {
  padding: 50px 0 70px;
  border-right: 3px solid #dadada; }
  .sidebar .about {
    padding-right: 35px; }
    .sidebar .about h3 {
      margin: 0 0 25px 0; }
    .sidebar .about p {
      margin-bottom: 30px;
      color: #585858; }
    .sidebar .about span {
      color: #0a94b2; }
  .sidebar .carousel {
    margin-bottom: 20px;
    overflow: hidden; }
  .sidebar .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
    padding: 10px 0;
    margin-left: 0;
    background: #fff; }
    .sidebar .carousel-indicators li {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background: #9a9a9a; }
    .sidebar .carousel-indicators li.active {
      background: #5b5b5b; }
  .sidebar .sidebar-carousel-caption {
    background: #fff;
    border-bottom: 1px solid #e1e1e1; }
    .sidebar .sidebar-carousel-caption div {
      padding: 20px; }
    .sidebar .sidebar-carousel-caption h4 {
      margin-top: 0;
      font-weight: 700;
      font-size: 14px; }
    .sidebar .sidebar-carousel-caption p {
      margin-bottom: 0;
      color: #5b5b5b;
      font-size: 12px; }
  .sidebar .banner {
    margin-bottom: 40px;
    background: #fff; }
    .sidebar .banner h2, .sidebar .banner h3 {
      margin: 0;
      text-transform: uppercase; }
    .sidebar .banner h2 {
      font-size: 28px;
      font-weight: bold; }
    .sidebar .banner h3 {
      font-size: 18px; }
    .sidebar .banner img {
      margin-bottom: 35px; }
    .sidebar .banner a.btn-red {
      display: inline-block;
      padding: 5px 30px;
      margin: 30px 0;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .sidebar .banner a.btn-red:hover {
        color: #fff;
        text-decoration: none; }

.widget {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #dadada; }
  .widget h3 {
    margin-top: 0;
    margin-bottom: 30px; }
  .widget ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    .widget ul li a {
      display: block;
      color: #000;
      line-height: 30px;
      font-size: 16px; }
    .widget ul li.more a {
      color: #358acd; }

@media only screen and (max-width: 1200px) {
  .sidebar .banner, .sidebar .carousel {
    margin-right: 10px; } }

@media only screen and (max-width: 992px) {
  .sidebar {
    padding-bottom: 0;
    padding-top: 0;
    border-right: none; }
    .sidebar .banner, .sidebar .carousel {
      margin-right: 0; } }

@media only screen and (max-width: 540px) {
  .sidebar .col-xs-6 {
    width: 100%; }
  .sidebar .banner, .sidebar .carousel {
    display: inline-block; } }

.content {
  padding: 50px 0 70px; }
  .content h3 {
    padding: 0;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 30px; }

.banner-row {
  margin-bottom: 30px;
  text-align: center; }
  .banner-row img {
    margin-bottom: 10px; }

.product {
  position: relative;
  height: 452px;
  padding: 25px 15px;
  background: #fff;
  border: 1px solid #c0c0c0;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .product:hover {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }

.product-favorites {
  position: absolute;
  top: 10px;
  right: 20px; }
  .product-favorites span {
    color: #909090;
    font-size: 20px; }

.product-sale {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  border: 1px solid #d1d1d1;
  line-height: 50px;
  text-transform: uppercase; }

.product-img {
  width: 100%;
  height: 200px; }

.product-title a {
  min-height: 40px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden; }

.product-desc {
  max-height: 60px;
  overflow: hidden; }

.product-price {
  margin-bottom: 15px;
  color: #d51e08;
  font-size: 18px;
  font-weight: 700; }

.product-buy {
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 100%;
  text-align: center; }

.product-buy .btn {
  padding-bottom: 10px 25px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-transform: uppercase; }
  .product-buy .btn:hover {
    background: #ececec; }

.products-row {
  margin-bottom: 40px; }

@media only screen and (max-width: 768px) {
  .product {
    margin-bottom: 10px; }
  .content {
    padding-top: 20px;
    padding-bottom: 20px; }
  .products-row {
    margin: 20px 0; } }

.bottom-content {
  margin-bottom: 100px;
  padding: 45px 0;
  background: #f5f5f6;
  border-bottom: 2px solid #9e9e9e; }
  .bottom-content h3 {
    margin: 0;
    font-weight: 400; }
  .bottom-content h4 {
    font-weight: 300;
    font-size: 18px; }
  .bottom-content .form-inline .form-control {
    height: 50px; }
  .bottom-content .form-inline .btn {
    width: 100%;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background: #e77553;
    color: #fff;
    border-bottom: 4px solid #d96340;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .bottom-content .form-inline .btn:hover {
      background: #d96340; }

.bottom-slider {
  padding: 35px 0;
  background: #fff; }
  .bottom-slider .elastislide-horizontal nav span.elastislide-prev {
    left: 0;
    background: #ddd url(../img/nav.png) no-repeat 4px 3px; }
  .bottom-slider .elastislide-horizontal nav span.elastislide-next {
    right: 0;
    background: #ddd url(../img/nav.png) no-repeat 4px -17px; }
  .bottom-slider .elastislide-wrapper {
    -webkit-box-shadow: none;
            box-shadow: none; }

@media only screen and (max-width: 992px) {
  .bottom-content .form-inline {
    margin-top: 20px; } }

@media only screen and (max-width: 480px) {
  .bottom-content {
    padding: 25px 0; } }

.footer-menu {
  padding: 30px 0;
  background: #343434; }
  .footer-menu h5 {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .footer-menu ul {
    padding: 0;
    list-style: none; }
    .footer-menu ul li {
      line-height: 22px; }
      .footer-menu ul li a {
        display: block;
        color: #c8c8c8; }

.footer-copyright {
  padding: 25px 0;
  background: #fff; }

@media only screen and (max-width: 1200px) {
  .social-icons img {
    display: block;
    margin-bottom: 3px; } }

@media only screen and (max-width: 992px) {
  .social-icons img {
    display: inline;
    margin-bottom: 0; }
  .pay {
    text-align: left; } }
