body {
    background-color: #ececec;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 24px;
    font-weight:700;
}
